<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 
   <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />

      <!-- define o formulário de autenticação -->
      <authentication mode="Forms" >
         <forms name="website" loginUrl="~/login.aspx" defaultUrl="~/default.aspx"></forms>
      </authentication>     
      
      <!-- DEFINE A PAGINA DE TRATAMENTO DAS EXCEÇÕES-->
      <customErrors mode="On" defaultRedirect="~/ErroGeral.aspx"></customErrors>
      
   </system.web>

   <!-- Restringe o acesso a pasta Administrador-->
   <!-- A propriedade deny, nega o acesso de usuários não autenticados. -->
   <location path="administrador">
      <system.web>
         <authorization>
            <deny users="?"/>
         </authorization>
      </system.web>
   </location>

   
</configuration>
